<html>
	<head>
		<title>{{ title }}</title>

		<link
		    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.css"
		    rel="stylesheet" type="text/css">
		<link
		    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css"
		    rel="stylesheet" type="text/css">

		<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.js"></script>
		<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.js"></script>
		<script src= "http://player.twitch.tv/js/embed/v1.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link href="static/css/main.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
	<body>
		<h1>Twitch VOD Highlighter</h1>
		<form action="" method="post" name="highlight">
	  		{{ form.hidden_tag() }}
	 	<p>
		  Enter the link to a Twitch.tv VOD<br>
		  {{ form.videoURL(size=80) }} <input id="highlight" type="submit" value="Highlight VOD"><br>
	  	</p>
	  	{% for error in form.videoURL.errors %}
	  		<span style="color: red;">{{ error }}</span>
        {% endfor %}
  		</form>

	{% block content %}
	{% endblock %}
  	</body>
</html>