<html>
	<head>
		<title>{{ title }}</title>

		<link
		    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.css"
		    rel="stylesheet" type="text/css">
		<link
		    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css"
		    rel="stylesheet" type="text/css">

		<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.js"></script>
		<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.js"></script>
		<script src= "http://player.twitch.tv/js/embed/v1.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link href="static/css/main.css" rel="stylesheet">
	<body>
		<h1>Twitch VOD Highlighter</h1>
		<form action="" method="post" name="highlight">
	  		{{ form.hidden_tag() }}
	 	<p>
		  Enter the link to a Twitch.tv VOD<br>
		  {{ form.videoURL(size=80) }} <input type="submit" value="Highlight VOD" onlick="loading();"><div id="loading"></div><br>
	  	</p>
  		</form>
		<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();     
        }
// ]]></script>
	{% block content %}
	{% endblock %}
  	</body>
</html>